appdirs==1.4.3
backports-abc==0.5
bson==0.4.3
certifi==2016.9.26
click==6.6
elasticsearch==5.0.1
elasticsearch-dsl==5.2.0
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.12.4
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
urllib3==1.19.1
Werkzeug==0.11.11
